/*CONFIGURAÇÃO GERAL----------------------------------------------------------*/
body, html {
    font-family: Verdana, Tahoma, Geneva, sans-serif !important;
    height: 100%;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.embed-img{
    display:block; 
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

/*NAVBAR----------------------------------------------------------------------*/
.navbar a:hover {
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    font-weight: 3rem;
}

.navbar{
    background: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 2px 5px;
    border-bottom: 2px solid black;
    text-decoration: none;
    animation:load_navbar 1.5s forwards;
    -webkit-animation:load_navbar 1.5s forwards;
}

@keyframes load_navbar{
    from{
        opacity:0;
        left:100%
    }
    to{
        opacity:1;
        right:0%;
    }    
}

@-webkit-keyframes load_navbar{
    from{
        opacity:0;
        left:100%;
    }
    to{
        opacity:1;
        right:00%;
    }
}

/*BACKGROUNDS-----------------------------------------------------------------*/
.backgrounded {
    height: 100%;
    min-height: 100px;
    background-image: url("../images/foguete.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-backgrounded{
    min-height: 100px;
    background-image: url("../images/bg-noise1.png");
    background-position: top center;
    background-repeat: repeat;
    border-top: 4px solid black;
}

.striped-backgrounded{
    width: 100%;
    min-height: 100px;
    display: block;
    background: linear-gradient(45deg,#edcb0e 25%,#120646 0,#120646 50%,#edcb0e 0,#edcb0e 75%,#120646 0);
    background-size: 100px 100px;
    border-top: 4px solid black;
}

.color-backgrounded{
    min-height: 100px;
    border-top: 4px solid black;
    background: #111;
    width: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: right;
    color: #000;

    animation:load_caption 2s forwards;
    -webkit-animation:load_caption 2s forwards;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

@keyframes load_caption{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    } 
}

@-webkit-keyframes load_caption{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/*CONTEUDO DE CADA TOPICO-----------------------------------------------------*/
.content{
    width: 100%;
    height: 100%;
    border: 3px solid #120646;
    background: #edcb0e;
    border-radius: 50px 20px;
    box-shadow: 3px 3px 32px 5px rgba(0,0,0,0.82);
}

.content-description{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2.0rem;
}

.content-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 10px;
}

.content-text{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5rem;
}