

/*CONFIGURAÇÕES GERAIS--------------------------------------------------------*/
*{
  box-sizing: border-box;
}
body {
  margin-top: 125px !important;
}
.body-background {
  background: url("./bg.png") repeat center center fixed;
}
.well {
  width: 100;
  box-shadow: 3px 3px 32px 5px rgba(0,0,0,0.82) !important;
}

/*NAVBAR----------------------------------------------------------------------*/
#Navbar {
  list-style: none;
}
#Navbar > ul > li > a {
  z-index: 2;
  padding: 15px 10px 15px 10px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #333;
}
#Navbar > ul > li.active > a,
#Navbar > ul > li:hover > a,
#Navbar > ul > li > a:hover {
  color: #fff;
  background: #fff;
}
#Navbar > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 90%;
  border-radius: 10px 10px 0px 0px;
  content: "";
}
#Navbar > ul > li.active > a:after,
#Navbar > ul > li > a:hover:after {
  background: #47c9af;
}

/*CONTEUDO DE CADA TOPICO-----------------------------------------------------*/
.content{
  border-bottom: 1px solid #ddd;
  color: #000;
  width: 100%;
  height: 100%;
}
.content-description{
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.content-title{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.content-text{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5rem;
}